.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ddf2f3;
  margin-top:20px;
  padding: 20px;
  color: white;
  display:flex;
  font-size:1.25rem;
  margin-left:2rem;
  margin-right:2rem;
  align-items: flex-end;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
