body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.card {
  position:relative;
  
}


.price {
  font-size:1.5rem;
}
.sign {
  height:2rem;
  display:flex;
  margin-left:20px;
  color:#fff;

}

.sign div {
  line-height: 2rem;
  height:2rem;
  padding:0px 2rem;
}


.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.details {
  display:flex;
  margin:30px 20px 30px 20px;
  justify-content: space-between;  
  height:2rem;
  line-height: 2rem;

  align-items: flex-end;
}

  .col-4 {
    width: 33.333%;
    float: left;
    box-sizing: border-box;
    display:inline-block;           
    border-right:1px solid #ddf2f3;
    border-bottom:1px solid #ddf2f3;
}

.container {
    width: 100%;
    height: auto;
    line-height: 0;
    border-left:1px solid #ddf2f3;
    border-top:1px solid #ddf2f3;
    
}

.content {
  padding:2rem;
}


.clearboth {
    clear: both;
}


 